/*
 *
 * CSS com estilos específicos para protlets
 *
 * @Autores
 *
 * - Forcontent - www.forcontent.com.br
 *
 */

/* Portlet Calendar
   ========================================================================== */

.portlet.portletCalendar.portletCalendarCDES {
    font-size: 0.75em;
}
.portlet.portletCalendar.portletCalendarCDES dt {
    font-size: 1em;
    text-transform: none;
    text-align: left;

}
.portlet.portletCalendar.portletCalendarCDES dd th a#calendar-next,
.portlet.portletCalendar.portletCalendarCDES dd th a#calendar-previous {
    margin: 0 -0.5em;
    padding: 0 1em;
    color: #2c67cd !important;
}
.portlet.portletCalendar.portletCalendarCDES dd th a#calendar-previous {
    float: left;
}

.portlet.portletCalendar.portletCalendarCDES dd th a#calendar-next{
    float: right;
}

#portal-column-two .portlet.portletCalendar.portletCalendarCDES dd td.event a {
    color: #2c67cd !important;
}
#portal-column-two dl.portlet.portletSearch.portletGenericSearch,
#portal-column-two dl.portlet.portletCalendar.portletCalendarCDES {
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Portlet Search
   ========================================================================== */

#portal-column-two dl.portlet.portletSearch.portletGenericSearch {
    background: #edeff1 none repeat scroll 0 0 !important;
}
#portal-column-two dl.portlet.portletSearch.portletGenericSearch .portletHeader {
    display: block;
    font-size: 1em;
}
#portal-column-two dl.portlet.portletSearch.portletGenericSearch .portletItem #searchform {
    border: none;
}
